@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Playfair+Display:ital@1&display=swap");
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
}
/* Navbar */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 24px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;
  z-index: 1;
}

.menu-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26px;
  cursor: pointer;
}

.menu-toggler > span {
  background-color: var(--localMenuTextColor, var(--menuTextColor, #212121));
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  transition: all 0.25s ease-in-out;
}
.menu-toggler > span:first-child {
  width: 13px;
}
.menu-toggler > span:nth-child(2) {
  width: 26px;
}
.menu-toggler > span:last-child {
  width: 18px;
}

/* logo */
.navbar-header {
  display: flex;
  gap: 16px;
}

/* Right logo */
.count {
  align-items: center;
  background-color: var(--colorPrimary, #212121);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  justify-content: center;
  position: absolute;
  right: 32px;
  text-align: center;
  top: 18px;
  width: 18px;
}
/*  */
.right-offcanvas-sidebar {
  padding-right: 24px;
}
.dropdown-svg {
  cursor: pointer;
  padding-top: 8px;
  margin-left: 16rem;
}

.dropdown-menu {
  border: 0px solid;
}
/* offcanvas-right-container */

.offcanvas-right-container {
  display: flex;
}

.offcanvas-right-container p {
  padding-right: 3rem !important;
  padding-top: 16px;
}
.offcanvas-right-container > a {
  text-decoration: none;
  color: #212121;
}

.offcanvas-right-container > a:hover {
  color: rgb(71, 71, 71);
}
.offcanvas-body img {
  padding-top: 10px;
  padding-left: 6rem;
}
/* checkout-container */
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  border: 0px solid;
  background-color: #777777;
  color: #fafafa;
  padding: 16px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 6em;
}
/* accordion-header */
.accordion-header {
  font-size: 18px;
}
.side-li {
  font-size: 18px;
  margin-left: 8px;
}

/* Menu Section */
.menu-div-container {
  padding-top: 1rem;
}
.accordion-item .accordion-header .accordion-button {
  background-color: #fafafa;
}

/* according section */
.accordion {
  --bs-accordion-border-color: white;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-transition: color 0.25s ease-in-out,
    background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, border-radius 0.25s ease;
  --bs-accordion-btn-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"width="16"height="16"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="rgba%280,0,0,.5%29"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="M5 14l6-6-6-6"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.3s ease-in-out;
  --bs-accordion-active-color: #212121;
  --bs-accordion-btn-active-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"width="16"height="16"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="rgba%280,0,0,.5%29"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="M5 14l6-6-6-6"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-focus-box-shadow: 0px solid;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-bg: rgb(22, 22, 22) !important;
  --bs-accordion-active-color: #000000;
}
.accordion-button {
  color: #3b3b3b;
}
.accordion-button:hover {
  color: #000000;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
/*  */
.accroding-image img {
  padding-right: 24px;
  width: 50px;
}

.accordion-body > a {
  text-decoration: none;
  color: #5a5a5a;
}
.accordion-body {
  margin-left: 24px;
}

/* Scroll */
.scroll {
  margin-top: 56px;
  overflow: hidden;
  overflow-y: scroll;
  width: 320px;
  height: 99%;
  position: fixed;
  pointer-events: auto;
}
/* Home banner Container */
.home-banner-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 42px;
  border-radius: 5px;
  background-color: #ffffff;
  background-image: url("https://d1rn6kzjmi8824.cloudfront.net/wp-content/uploads/2020/07/20074822/grocery-1-scaled.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  --desktop-min-height: 450px;
  --laptop-min-height: 380px;
  --tab-min-height: 300px;
  --mobile-min-height: 200px;
  --borderRadius: 6px;
}
.cartsy-banner-search-content {
  padding: 150px;
}

/* Search Input  */
.cartsy-product-search-form-input {
  margin-top: 28px;
  padding: 16px;
}

.cartsy-product-search-form {
  width: 100%;
}
.cartsy-product-search-form label {
  position: relative;
  display: block;
}
.hidden-text {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.cartsy-product-search-form-icon {
  border: 0px solid white;
  position: absolute;
  top: 14px;
  width: 57px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.cartsy-input {
  border: 0px solid var(--colorTextMain, #212121);
  border-radius: 6px;
  color: var(--colorTextMain, #212121);
  font-size: 16px;
  min-height: 44px;
  padding: 0 20px;
  transition: border-color 0.2s ease;
  width: 100%;
  border-radius: 5px;
}

.cartsy-product-search-form-input {
  outline: none;
}
.cartsy-product-search-form label input[type="search"] {
  width: 100%;
  height: 58px;
  padding-left: 57px;
}

/* product */
.card-text {
  font-size: 14px;
}
.card-button {
  color: #777;
}

.card-button:hover {
  background-color: #5a5a5a;
  color: white;
}
/*  */

@media only screen and (max-width: 600px) {
  .responsive-offcanvas-top {
    display: block;
  }
  .responsive-right-side {
    display: none;
  }
  .cartsy-banner-search-content {
    padding: 0.5rem;
  }
  .home-res {
    margin-top: 36px;
  }
  .cartsy-banner-search-title {
    padding-top: 56px;
  }

  .accroding-image-responsive p {
    font-size: 24px;
    z-index: -1 !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .responsive-offcanvas-top {
    display: block;
  }
  .responsive-right-side {
    display: none;
  }
  .cartsy-banner-search-content {
    padding: 56px;
  }
  .cartsy-banner-search-content {
    padding: 0.5rem;
  }
  .home-res {
    margin-top: 36px;
  }
  .cartsy-banner-search-title {
    padding-top: 5rem;
  }
  .home-container {
    justify-content: center;
  }
  .card {
    width: 10rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .responsive-offcanvas-top {
    display: block;
  }
  .responsive-right-side {
    display: none;
  }
  .home-res {
    margin-top: 36px;
  }
  .cartsy-banner-search-content {
    padding: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .responsive-offcanvas-top {
    display: block;
  }
  .responsive-right-side {
    display: none;
  }
  .home-res {
    margin-top: 36px;
  }
  .card {
    width: 13rem;
  }
  .cartsy-banner-search-content {
    padding: 6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .responsive-offcanvas-top {
    display: none;
  }
  .responsive-right-side {
    display: block;
  }
  .home-res {
    margin-top: 56px;
    padding-left: 48px;
  }
  .card {
    width: 13rem;
  }
  .cartsy-banner-search-content {
    padding: 9rem;
  }
}
